body {
    line-height: 1.25em;
    background: #FFF;
}

.new-category {
    margin: 30px 12px 20px;
    border-top: 1px solid #DCDCDC;
}

    .new-category .new-category-lst { /*border:1px solid #ded6c9;background-color:#fff;*/
    }

        .new-category .new-category-lst .parentLi .new-category-a, .new-category .son .sonLi .new-category2-a { /*border-bottom:1px solid #ded6c9;*/
            text-decoration: none;
        }

        .new-category .new-category-lst .parentLi:last-child .new-category-a {
            border-bottom: none;
        }

        .new-category .new-category-lst .parentLi .new-category-a {
            display: block;
            padding: 11px 4px 11px;
            background: url(/mobile/images/icon.png) 98% -795px no-repeat;
            font-size: 15px;
            color: #6e6e6e;
        }

            .new-category .new-category-lst .parentLi .new-category-a.new-on {
                background: url(/mobile/images/icon.png) 98% -795px no-repeat;
            }

            .new-category .new-category-lst .parentLi .new-category-a .icon {
                display: inline-block;
                width: 7px;
                height: 7px;
                margin: 0 5px 2px 0;
                border-radius: 7px;
                background-color: #e4393c;
            }

    .new-category .son .sonLi .new-category2-a {
        border-top: 1px solid #fff;
    }

    .new-category .new-category-lst .parentLi:last-child .son .sonLi:first-child { /*border-top:1px solid #ded6c9;*/
    }

    .new-category .new-category-lst .parentLi:last-child .son .sonLi:last-child .new-category2-a {
        border-bottom: none;
    }

    .new-category .son {
        background-color: #F2F2F2;
    }

        .new-category .son .sonLi {
            display: table;
            width: 30%;
            float: left;
            background: #fff;
            margin: 0 5px 5px 0;
        }

            .new-category .son .sonLi .new-category2-a {
                display: table-cell;
                width: 33.9%;
                padding: 10px 0;
                font-size: .75em;
                color: #6e6e6e;
                text-align: center;
                line-height: 15px;
                height: 30px;
                vertical-align: middle;
            }

                .new-category .son .sonLi .new-category2-a .new-bar {
                    float: left;
                    width: 1px;
                    height: 12px;
                    margin-top: 3px;
                    border-bottom: 1px solid #fff;
                    background-color: #ded6c9;
                    vertical-align: middle;
                }

                .new-category .son .sonLi .new-category2-a:first-child .new-bar {
                    border: none;
                    background: none;
                }


        .new-category .son .new-category2-li {
            display: table;
            width: 100%;
        }


.p-sort {
    background: #fff;
    width: 95%;
    margin: 20px auto;
    border: 1px solid #dfd7cb;
}

.radius {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.p-sort a {
    color: #67738A;
    text-decoration: none;
}

.list li {
    position: relative;
    border-bottom: #dbd7d2 1px solid;
    padding: 15px 0 15px 6px;
}

.list a:last-child li {
    border-bottom: none;
}

.p-sort strong.name1 {
    font-size: .875em;
    color: #404040;
    font-weight: normal;
    margin: 0 10px 0 0;
}

.menu-botton-arrow {
    display: block;
    position: absolute;
    right: 6px;
    top: 0;
    width: 10px;
    height: 100%;
    background: url(/mobile/images/arrow.png) center right no-repeat;
}



.topsearch {
    position: relative;
}

    .topsearch ul {
        display: none;
        width: 85%;
        position: absolute;
        top: 31px;
        left: -1px;
        list-style: none;
        padding: 0px;
        margin: 0px;
        /*width: 400px;*/
        border: 1px solid #C0C0C0;
        border-top: none;
        z-index: 9999999;
        background: #fff;
    }

        .topsearch ul li {
            padding: 0px;
            margin: 0px;
        }

            .topsearch ul li:hover {
                background: #f1f1f1;
            }

            .topsearch ul li a {
                padding: 0 10px;
                text-decoration: none;
                color: #333;
                height: 24px;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                line-height: 24px;
            }

.searchtip {
    width: auto;
    margin-left: 0;
    padding-right: 90px;
    height: auto;
}


.proList { /*padding: 5px 12px;*/
}

    .proList a {
        text-decoration: none;
    }

.new-tab-type {
    border-bottom: 1px solid #d0cece;
}

    .new-tab-type .new-tbl-cell, .new-tab-type2 .new-tbl-cell, .new-tab-type3 .new-tbl-cell, .new-tab-type4 .new-tbl-cell {
        width: 20%;
        padding: 6px 0;
        font-size: 14px;
        color: #232326;
        text-align: center;
    }

        .new-tab-type .new-tbl-cell.on {
            color: #d60303;
        }

            .new-tab-type .new-tbl-cell.on .new-icon-down {
                position: absolute;
                left: 8px;
                bottom: -9px;
                width: 12px;
                height: 7px;
                background: url(/mobile/images/icon.png) 0 -2018px no-repeat;
                color: #d60303;
            }

        .new-tab-type .new-tbl-cell:first-child .new-bar {
            border: none;
            background: none;
        }

        .new-tab-type2 .new-tbl-cell .icon span {
            background: url(/mobile/images/icon-updown-arrow.png) -143px -1px no-repeat;
            background-size: 55px 55px;
            background-position: -2px -30px;
            width: 20px;
            height: 20px;
            display: inline-block;
        }


.new-tab-type2, .new-tab-type3, .new-tab-type4 {
    margin-top: -1px;
    border-top: 1px solid #d0cece; border-bottom:1px solid #E8E8E8; /*background-color:#e6e3e3*/
}

.new-tab-type2 {
    padding: 5px;
    background: #fff;
    overflow: hidden;
    height: 50px;
}

    .new-tab-type2 .new-tbl-cell {
        /*padding: 4px 0;*/
    }

        .new-tab-type2 .new-tbl-cell .on {
            display: inline-block;
            padding: 3px 0 4px 0;
            /*border-bottom: 2px solid #f1382f;*/
            width: 100%;
            color: #f1382f;
            font-size: 18px;
        }

        .new-tab-type2 .new-tbl-cell.w60 {
            display: table-cell;
            font-size: 18px;
        }

    .new-tab-type2 .new-tbl-type {
        width: auto;
        margin: 0 auto;
        display: table;
        width: 100%;
        height: 30px; /*line-height: 30px;*/
    }


.icon_sort {
    display: inline-block;
    margin-left: 4px;
    width: 8px;
    height: 10px;
    background: url(../images/aim-sprites.png) no-repeat;
    background-position: -170px -30px;
    background-size: 200px 200px;
    content: "";
}

.icon_sort_up {
    display: inline-block;
    margin-left: 4px;
    width: 8px;
    height: 10px;
    background: url(../images/aim-sprites.png) no-repeat;
    background-position: -170px -15px;
    background-size: 200px 200px;
    content: "";
}

.icon_sort_down {
    display: inline-block;
    margin-left: 4px;
    width: 8px;
    height: 10px;
    background: url(../images/aim-sprites.png) no-repeat;
    background-position: -170px 0;
    background-size: 200px 200px;
    content: "";
}

.proItme {
    padding: 5px 0;
    /*border-bottom: 1px solid #e8e5e5;*/
    position: relative;
    background: #fff;
    margin: 15px 0;
    padding:10px;
}

    .proItme:after {
        content: "";
        display: block;
        clear: both;
        width: 100%;
        height: 1px;
        overflow: hidden;
    }

    .proItme .img {
        width: 100px;
        height: 100px;
        margin: 0 10px 0 0;
        float: left;
        clear: both;
    }

    .proItme .proDT {
        float: left;
        overflow: hidden;
        _zoom: 1;
    }

.proDD {
    display: block;
    margin: 5px 0 .3em;
    font-size: 18px;
    font-weight: normal;
    /*font-family: Arial,Helvetica,STHeiTi,sans-serif;*/
    font-family:PingFangSC-Regular,Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Arial;
    color: #232326;
}

.DD1 {
    overflow: hidden;
    max-height: 40px; /*height:40px;*/
}

.DD2 {
    min-width: 186px;
    font-size: 14px;
    color: #e4393c;
}

.proItme .DD3 {
    font-style: normal;
    font-size: 20px;
    color: #f23030;
    margin-top: 15px;
}

    .proItme .DD3 .f16 {
        font-size: 16px;
    }

    .proItme .DD3 .list_price {
        margin-left: -4px;
    }

.DD4 {
    font-size: 12px;
}

.proItme .ico {
    position: absolute;
    right: 0;
    bottom: 10px;
}

    .proItme .ico a {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 5px;
        background-color: #fd9d00;
        line-height: 18px;
        font-size: 12px;
        color: #fff;
        text-align: center;
    }


.selectR {
    position: absolute;
    width: 40%;
    min-height: 100%;
    right: 0px;
    top: 0;
    z-index: 9999;
    overflow: hidden;
    background-color: #666;
    padding: 0 10px;
}


    .selectR .dt {
        display: block;
        padding: 8px 5px;
        border-bottom: 1px solid #fff;
        background: url(/mobile/images/icon.png) 100% -1519px no-repeat;
        font-size: 14px;
        color: #fff;
    }

        .selectR .dt.on {
            background-position: 100% -1553px;
        }


    .selectR a {
        color: #FFF;
        text-decoration: none;
        font-size: 12px;
    }

.selectCon {
    height: 217px;
    overflow-y: scroll;
    padding: 5px 10px 5px 3px;
    border-bottom: 1px solid #fff;
    display: none;
}

    .selectCon a {
        display: block;
        padding: 6px 0 6px 20px;
        color: #fff;
    }

        .selectCon a span {
            padding-left: 3px;
        }

        .selectCon a.on {
            background: url(/mobile/images/icon.png) 0 -1579px no-repeat;
        }

            .selectCon a.on span {
                display: block;
                background-color: #a09f9f;
            }

.new-abtn-slid {
    position: absolute;
    top: 40%;
    width: 58px;
    height: 50px;
    background: url(/mobile/images/icon_slid.png) 0 0 no-repeat;
}

.addShopping {
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #333;
    background: -moz-linear-gradient(top,#f7f7f7,#f2f2f2);
    background: -webkit-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#f2f2f2));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#f2f2f2");
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#f2f2f2")";
    padding: 0 10px;
    height: 18px;
    line-height: 18px; /*position:absolute; right:0; top:50%;*/
}

.proItme .salewarn {
    width: 12px;
    height: 12px;
    border: 1px solid red;
    display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
    margin-left: 5px;
    border-radius: 1px;
    background: #D02424;
    color: #fff;
    font-size: 12px;
    /*position: absolute;
    top: 0;
    left: 0;*/
    padding: 2px;
    /*margin: 0px;*/
    line-height: 12px;
}

.proItme .chaozhi_99 {
    width: 70px;
}

.proItme .zkj_icon {
    display: block;
    position: absolute;
    width: 100px;
    height: 150px;
    top: 0px;
    left: 0px;
    background: url(/images/zkjsale.png) no-repeat center center;
    background-size: 100%;
}

.proItme .chaozhi_99_icon {
    display: block;
    position: absolute;
    width: 100px;
    height: 150px;
    top: 0px;
    left: 0px;
    background: url(/images/99chaozhi.png) no-repeat center center;
    background-size: 100%;
}

.proItme .miaosha {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 60px;
    background: url(/images/miaosha.png) no-repeat center center;
    background-size: 75%;
}

.proItme .miaosha_tg {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 60px;
    background: url(/images/miaosha_tg.png) no-repeat center center;
    background-size: 75%;
}

.proItme .miaosha_sr {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 60px;
    background: url(/images/miaosha_sr.png) no-repeat center center;
    background-size: 75%;
}
