<?xml version="1.0"?>
<EmailConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Host>smtp.mxhichina.com</Host>
  <Port>25</Port>
  <UserName>hg@seedqide.com</UserName>
  <Password>HuiGou123456</Password>
  <From>hg@seedqide.com</From>
  <FromName>自营商城</FromName>
  <FindPwdBody>&lt;p style="line-height: 23.8px; font-family: &amp;#39;lucida Grande&amp;#39;, Verdana, &amp;#39;Microsoft YaHei&amp;#39;; font-size: 14px; white-space: normal; background-color: rgb(255, 255, 255);"&gt;&lt;span style="font-family: sans-serif; font-size: 16px;"&gt;亲爱的{mallname}({siteurl})会员{username}，您好：&lt;/span&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;您正在申请重置&lt;span style="line-height: 23.8px; background-color: rgb(255, 255, 255);"&gt;{mallname}&lt;/span&gt;会员密码，如非本人操作，请忽略此邮件&lt;/p&gt;&lt;p&gt;点击如下链接地址重置密码：{url}&lt;/p&gt;&lt;p&gt;本链接地址30分钟内有效。&lt;/p&gt;&lt;p&gt;过期时间：{deadline}&lt;/p&gt;&lt;p style="text-align: right;"&gt;祝您使用愉快！&lt;/p&gt;&lt;p style="text-align: right;"&gt;--{mallname}&lt;/p&gt;</FindPwdBody>
  <SCVerifyBody>&lt;p style="white-space: normal;"&gt;亲爱的{mallname}({siteurl})会员{username}，您好：&lt;/p&gt;&lt;p style="white-space: normal;"&gt;您正在修改个人中心用户资料，如非本人操作，请忽略此邮件&lt;/p&gt;&lt;p style="white-space: normal;"&gt;点击如下链接：{url}&lt;/p&gt;&lt;p style="white-space: normal;"&gt;本链接地址30分钟内有效。&lt;/p&gt;&lt;p style="white-space: normal;"&gt;过期时间：{deadline}&lt;/p&gt;&lt;p style="white-space: normal; text-align: right;"&gt;祝您使用愉快！&lt;/p&gt;&lt;p style="white-space: normal; text-align: right;"&gt;--{mallname}&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;</SCVerifyBody>
  <SCUpdateBody>&lt;p style="white-space: normal;"&gt;亲爱的{mallname}({siteurl})会员{username}，您好：&lt;/p&gt;&lt;p style="white-space: normal;"&gt;您正在修改邮箱，如非本人操作，请忽略此邮件&lt;/p&gt;&lt;p style="white-space: normal;"&gt;点击如下链接：{url}&lt;/p&gt;&lt;p style="white-space: normal;"&gt;本链接地址30分钟内有效。&lt;/p&gt;&lt;p style="white-space: normal;"&gt;过期时间：{deadline}&lt;/p&gt;&lt;p style="white-space: normal; text-align: right;"&gt;祝您使用愉快！&lt;/p&gt;&lt;p style="white-space: normal; text-align: right;"&gt;--{mallname}&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;</SCUpdateBody>
  <WebcomeBody>&lt;p&gt;亲爱的用户{email}，恭喜您成功注册成为{mallname}会员，祝你购物愉快！&lt;/p&gt;&lt;p style="text-align: right;"&gt;&lt;span style="text-align: right;"&gt;--{mallname}&lt;/span&gt;&lt;/p&gt;</WebcomeBody>
</EmailConfigInfo>