<?xml version="1.0"?>
<EventConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BMAEventState>1</BMAEventState>
  <BMAEventPeriod>6</BMAEventPeriod>
  <BMAEventList>
    <EventInfo>
      <Key>cart</Key>
      <Title>购物车事件</Title>
      <TimeType>1</TimeType>
      <TimeValue>120</TimeValue>
      <ClassName>VMall.EventStrategy.Timer.CartEvent,VMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>browsehistory</Key>
      <Title>浏览历史事件</Title>
      <TimeType>1</TimeType>
      <TimeValue>60</TimeValue>
      <ClassName>VMall.EventStrategy.Timer.BrowseHistoryEvent,VMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>productreviewcount</Key>
      <Title>同步商品评价数量</Title>
      <TimeType>0</TimeType>
      <TimeValue>30</TimeValue>
      <ClassName>VMall.EventStrategy.Timer.ProductReviewCountEvent,VMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>productsalecount</Key>
      <Title>同步商品销量</Title>
      <TimeType>0</TimeType>
      <TimeValue>90</TimeValue>
      <ClassName>VMall.EventStrategy.Timer.ProductSaleCountEvent,VMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>productvisitcount</Key>
      <Title>同步商品的访问量</Title>
      <TimeType>0</TimeType>
      <TimeValue>120</TimeValue>
      <ClassName>VMall.EventStrategy.Timer.ProductVisitCountEvent,VMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>updatestorereview</Key>
      <Title>计算店铺评价</Title>
      <TimeType>0</TimeType>
      <TimeValue>150</TimeValue>
      <ClassName>VMall.EventStrategy.Timer.StoreReviewEvent,VMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>timeproduct</Key>
      <Title>定时商品事件</Title>
      <TimeType>1</TimeType>
      <TimeValue>120</TimeValue>
      <ClassName>VMall.EventStrategy.Timer.TimeProductEvent,VMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>autoconfirmreceiving</Key>
      <Title>自动确认收货事件</Title>
      <TimeType>2</TimeType>
      <TimeValue>7</TimeValue>
      <ClassName>VMall.EventStrategy.Timer.AutoConfirmReceiving,VMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>autosettleaccount</Key>
      <Title>自动结算事件</Title>
      <TimeType>2</TimeType>
      <TimeValue>7</TimeValue>
      <ClassName>VMall.EventStrategy.Timer.AutoSettleAccount,VMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>autocancelnopayorder</Key>
      <Title>自动取消未支付订单事件</Title>
      <TimeType>2</TimeType>
      <TimeValue>24</TimeValue>
      <ClassName>VMall.EventStrategy.Timer.AutoCancelNoPayOrder,VMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
  </BMAEventList>
</EventConfigInfo>