<?xml version="1.0" encoding="utf-8"?>
<RDBSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RDBSConnectString>Data Source=.\SQLSERVER2008;User ID=sa;Password=Asdf!234;Initial Catalog=dlswmall;Pooling=true</RDBSConnectString>
  <DirSaleConnectString>Data Source=.;User ID=sa;Password=Asdf!234;Initial Catalog=hzstest;Pooling=true</DirSaleConnectString>
  <RDBSTablePre>hlh_</RDBSTablePre>
  <RDBSType>SqlServer</RDBSType>
  <RDBSDBName>hgtest</RDBSDBName>
</RDBSConfigInfo>