<?xml version="1.0" encoding="utf-8"?>
<SMSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Url>http://www.baidu.com22</Url>
  <UserName>11111111111111</UserName>
  <Password>88888</Password>
  <FindPwdBody>【汇购】您的手机验证码是:{code},您正在进行找回密码操作。(请在5分钟内完成验证，打死也不要告诉别人哦！)</FindPwdBody>
  <SCVerifyBody>【汇购】您的手机验证码是:{code},您正在进行修改安全信息操作。(请在5分钟内完成验证，打死也不要告诉别人哦！)</SCVerifyBody>
  <SCUpdateBody>【汇购】您的手机验证码是:{code},您正在进行修改绑定手机号操作。(请在5分钟内完成验证，打死也不要告诉别人哦！)</SCUpdateBody>
  <WebcomeBody>【汇购】欢迎注册{mallname}{regtime}{mobile}</WebcomeBody>
</SMSConfigInfo>