@{
    Layout = "~/mobile/views/shared/_layout.cshtml";
    ViewBag.SubTitle = "页面不存在";
    ViewBag.Title = ViewBag.SubTitle + "-" + WorkContext.MallConfig.SiteTitle + "";
    ViewBag.Mark = 0;
}

<div style="padding:40px; font-size:20px; text-align:center;">抱歉，您请求的页面不存在</div>
