@{
    Layout = "~/mobile/views/shared/_layout.cshtml";
    ViewBag.SubTitle = "错误提示";
    ViewBag.Title = ViewBag.SubTitle + "-" + WorkContext.MallConfig.SiteTitle + "";
    ViewBag.Mark = 0;
}
<div style="padding:40px; font-size:20px; text-align:center;">抱歉，处理您的请求时出错,请联系我们</div>
