<?xml version="1.0"?>
<!--此文件为windows下的配置文件,如果您将程序部署到windows下请使用此配置文件-->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="false"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="false"/>
    <!--<add key="RouteDebugger:Enabled" value="true" />-->
    <!--直销系统api接口地址-->
    <add key="DirsaleApiUrl" value="http://112.213.119.142:8080"/>
    <!--天鹰网接口密钥-->
    <add key="TYappkey" value=""/>
    <!--海之圣店铺编号-->
    <add key="HealthenStoreId" value="0"/>
    <!--全球购店铺编号-->
    <add key="QuanQiuGouStoreId" value="0"/>
    <!--无页面操作后注销登陆时间(单位:分钟)-->
    <add key="NoActionLoginTimeOut" value="10080"/>
    <!--测试允许购买会员编号-->
    <add key="TestUidList" value="1"/>
    <!--活动推广产品-->
    <add key="ActiveProduct" value="0"/>
    <!--汇购卡券Pid-->
    <add key="CoffeeQuanPid" value="0"/>
    <!--会员头像上传的图片保存路径-->
    <add key="UserHeadPicPath" value="d:\headImages\"/>
    <!--二维码偏移坐标-->
    <add key="QRcodePoints" value="400,700"/>
    <!--尾号促销时间-->
    <add key="LastOrderNumTime" value="0"/>
    <!--双11促销时间开始时间-->
    <add key="Double11StartTime" value="0"/>
    <!--大美appKey-->
    <add key="DaMeiAppKey" value=""/>
    <add key="38ActiveProduct" value="0"/>
    <!--尚睿淳店铺-->
    <add key="SRCStoreId" value="0"/>
    <!--旅游套餐产品-->
    <add key="TripPid" value="0"/>
    <!--汇购优选代理店铺-->
    <add key="AgentStoreId" value="0"/>
    <!--汇购优选代理店铺2-->
    <add key="AgentSuitStoreId" value="0"/>
    <!--汇购优选必选套餐包产品id-->
    <add key="AgentSuitPid" value="0"/>
    <!--微商系统店铺-->
    <add key="AgentSystemStoreId" value="0"/>
    <!--汇购优选298产品id-->
    <add key="298_AgentPid" value="0"/>
    <!--汇购优选特殊会员uid-->
    <add key="SpecialAgentUid" value="0"/>
    <!--汇购优选特殊产品id，大区70拿货有机胚芽-->
    <add key="SpecialAgentPid" value="0"/>
    <!--汇购1980代报单pid-->
    <add key="DSOrderPid_1980" value="0"/>
    <!--微商订货系统直接购买产品-->
    <add key="DirectBuyPid" value="0"/>
    <!--环球捕手直接购买产品-->
    <add key="HQBSDirectBuyPid" value="0"/>
    <!--环球捕手直接购买产品-->
    <add key="HQBSDirectBuyStoreId" value="0"/>
    <!--环球捕手需要退款订单-->
    <add key="HQBSRefundOid" value="0"/>
    <!--蜜采代理店铺-->
    <add key="MCAgentStoreId" value="19"/>
    <!--蜜采代理引流产品-->
    <add key="GetSourcePid" value="650"/>
    <!--蜜采代理赠品产品-->
    <add key="GiftPid" value="651"/>
    
    <!--二维码头像偏移坐标-->
    <add key="QRHeadimgPoints" value="155,153"/>
    <add key="Secret" value="yVSTnuX4zyInuKzMPImfX063HllDmtKIjp0tljbh"/>
    <add key="PrivateRsa" value="pASmc642"/>
    <add key="PublicRsa" value="RW1UfgPC2"/>
    <add key="TimeStamp" value="2"/>
    
    
    
    <!--数据库连接字符串，动软自动类Maticsoft.DBUtility使用-->
    <add key="ConnectionString" value="Database=hgtest;Server=.;Integrated Security=false;user id=sa;Password=sa123456;Pooling=True;Max Pool Size = 512"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="None"/>
    <sessionState mode="InProc"/>
    <customErrors mode="Off"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--插件dll文件影子目录,在Medium及其以下的信任级别时使用-->
      <probing privatePath="plugins/bin/"/>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>