@{
    Layout = "~/mobile/views/shared/_layout.cshtml";
    ViewBag.SubTitle = "帮助与反馈";
    ViewBag.Title = ViewBag.SubTitle + "-" + WorkContext.MallConfig.SiteTitle;
    ViewBag.Mark = 8;
}
<link href="/mobile/css/main.css" rel="stylesheet" type="text/css">

<style>
    .linkbtn {
        display: inline-block;
        width: 150px;
        height: 30px;
        background: #F9A4B0;
        line-height: 30px;
        color: #fff;
    }
</style>

<div class="myAssetsCon">
    <div class="norecommend">
        <p>
            <img src="/mobile/images/help_suggest.png" alt=""  width="90%" />
        </p>
    </div>
</div>



