@model VMall.Web.Models.ProductModel
@using VMall.Core;
@using VMall.Web;
@{
    ViewBag.Title ="商品暂时下架啦-"+ Model.ProductInfo.Name + "-" + WorkContext.MallConfig.SiteTitle;
    ViewBag.Mark = 3;
    ViewBag.IsBox1210 = 1;
}
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="/mobile/css/swiper.min.css">
<!-- Swiper JS -->
<script src="/mobile/scripts/swiper.min.js"></script>
<style>
    .outsaleview {
        text-align: center;
        padding: 0px 0 50px;
    }

    .outsaletitle {
        color: #b0b0b0;
        font-size: 18px;
        margin: 10px;
    }

        .outsaletitle a {
            color: #333;
            font-size: 16px;
            margin: 10px;
        }

    .swiper-pagination-bullet {
        margin: 0 4px;
    }

    .out-recommend {
        position: relative;
        margin: 0;
        height: 50px;
        font-size: 30px;
        font-weight: 400;
        color: #757575;
        border-top: 1px solid #e0e0e0;
        -webkit-font-smoothing: antialiased;
    }

        .out-recommend span {
            position: absolute;
            top: -20px;
            left: 290px;
            height: 40px;
            width: 400px;
            line-height: 40px;
            text-align: center;
            display: block;
            background-color: #fff;
        }

    .swiper-button-prev {
        background: url("/images/swiper_button_004.png") no-repeat;
        width: 35px;
        height: 80px;
        background-size: 200%;
    }

    .swiper-button-next {
        background: url("/images/swiper_button_004.png") -35px 0 no-repeat;
        width: 35px;
        height: 80px;
        background-size: 200%;
    }
</style>
@{List<int> chids = Channel.GetProductChannels(Model.Pid);}
<div class="box1210 " id="content">
    <div class="outsaleview">
        <p>
            <img src="/images/outsale.png" width="500" height="300" alt="商品暂时下架" />
        </p>

        <p class="outsaletitle">您查看的商品暂时下架啦</p>
        <p class="outsaletitle">
            <a href="/">商城首页</a>|
            <a href="@Url.Action("orderlist", "ucenter")">我的订单</a>
        </p>
    </div>
    <div class="clear"></div>
</div>

<div id="ConInfo" class="box1210">
    <h2 class="out-recommend"><span>为您推荐</span></h2>
    <div class="floorCon  ">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (PartProductInfo info in Model.HotSaleProductList)
                { 
                    <div class="swiper-slide">
                        <a href="@Url.Action("product", new RouteValueDictionary { { "pid", info.Pid } })" class ="">
                            <div>
                                <img src="/upload/store/@info.StoreId/product/show/thumb190_190/@info.ShowImg" alt="" width="100%" onerror="src='/images/230.jpg'" alt="@info.Name" />
                                <div style="display: block;">
                                    <p style="text-align: center;">@info.Name</p>

                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            @* <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>*@
            <!-- Add Pagination -->

            @* <div class="swiper-scrollbar"></div>*@
        </div>
        <div class="swiper-pagination" style="width: 1000px; margin-top: 10px;"></div>
        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                //prevButton: '.swiper-button-prev',
                //nextButton: '.swiper-button-next',
                autoplay:3000,
                slidesPerView: 4,
                scrollbar: '',
                scrollbarHide: true,
                paginationHide: false,
                paginationClickable: 'true',
                slidesOffsetAfter: 100,
                spaceBetween: 30
            });
        </script>

    </div>


</div>

