@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "页面不存在-" + WorkContext.MallConfig.SiteTitle;
    ViewBag.Mark = 0;//产品页为3  其他用2
    ViewBag.IsBox1210 = 0;
}

<div class="box">
<div class="prompt">
    抱歉，您请求的页面不存在
</div>
</div>

