<?xml version="1.0" encoding="utf-8"?>
<PluginSetInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WPMchId>111111111111111111</WPMchId>
  <WPAppId>222222222222222222</WPAppId>
  <WPAppSecret>3333333333333333333</WPAppSecret>
  <WPAppKey>444444444444444444444</WPAppKey>
  <OpenMchId>4646</OpenMchId>
  <OpenAppId>6757456</OpenAppId>
  <OpenAppSecret>856785</OpenAppSecret>
  <OpenAppKey>9789</OpenAppKey>
</PluginSetInfo>