
@{
    Layout = "~/views/shared/_layout_help.cshtml";
    ViewBag.Title =  "客服中心-" + WorkContext.MallConfig.SiteTitle;
    ViewBag.Mark = 2;//产品页为3  其他用2
    ViewBag.IsBox1210 = 0;
}

<div class=" box" style="    height: 35px;
    line-height: 35px;
    padding: 0 0 4px 6px;
    overflow: hidden;
    padding-top: 5px;text-align:center;font-size:24px;margin:20px;">
<strong><a href="javascript:void(0);">客服服务中心</a></strong>
    </div>
<div class="box">

    
        <img src="/images/servicecenter.jpg" alt="客服服务" width="1000"/>

    

<div class="clear"></div>
</div>


