<?xml version="1.0" encoding="utf-8"?>
<PluginSetInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WPMchId>1537367451</WPMchId>
  <WPAppId>wx4ba227d36b5bbf42</WPAppId>
  <WPAppSecret>4b33b436405a34b1f6a42afb180e9144</WPAppSecret>
  <WPAppKey>A267B6D4ECAC4F5E8EC39015A0AD5469</WPAppKey>
  <OpenMchId>4646</OpenMchId>
  <OpenAppId>6757456</OpenAppId>
  <OpenAppSecret>856785</OpenAppSecret>
  <OpenAppKey>9789</OpenAppKey>
</PluginSetInfo>