@{
     Layout = "~/mobile/views/shared/_layout.cshtml";
     ViewBag.SubTitle = "信息填写";
    ViewBag.Title = ViewBag.SubTitle + "-" + WorkContext.MallConfig.SiteTitle + "";
    ViewBag.Mark = 0;
}
<link href="@{@WorkContext.CSSCDN}/mobile/css/account.css" rel="stylesheet" type="text/css" />
<link href="@{@WorkContext.CSSCDN}/mobile/css/ucenter.css" rel="stylesheet" type="text/css" />
<script src="@{@WorkContext.ScriptCDN}/mobile/scripts/account.js?dddd" type="text/javascript"></script>
<style>
     .radio {
        width:30px;
        font-size:24px;
    }
    #managerType {
         font-size:14px;
    }
    .reg {text-align:center;
          margin:40px;
    }
    .reg th {
    font-weight: normal;
    font-size: 14px;
    /*color: #999;
    padding-right: 10px;*/
    width: 190px;
    text-align: right;
    height: 30px;
}
    html body .reg .regBt {
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    display: block;
    text-align: center;
    width: 170px;
    padding: 7px 0;
    font-weight: normal;
    margin-top: 10px;
        margin-left: 50px;
}
html body .redBT {
    padding: 1px 10px;
    background: #D02424;
    color: #FFF;
    border: 1px solid #9F1F24;
        padding: 4px 15px;
    border: 1px solid #e4393c;
    border-radius: 3px;
    background-color: #f5f4f4;
    background: -webkit-gradient(linear,0 0,0 100%,from(#FC5C5F),to(#e4393c));
    line-height: 29px;
    font-size: 14px;
    color: #FFF;
  
    display: block;
    text-align: center;
    padding: 3px 0;
    margin: 10px 0;
}
    th {
        font-weight: normal;
    font-size: 14px;
    color: #999;
    padding-right: 10px;
    width: 190px;
    text-align: right;
    height: 60px;

    }
    .userFormC .text {
    width: 238px;
    height: 16px;
    padding: 10px 25px 10px 5px;
    border: 1px solid #cccccc;
    float: none;
    font-size: 14px;
    color: #999;
    overflow: hidden;
    outline: none;
}
</style>
<div class="userFormC">
   
    <form name="rForm" action="@Url.Action("CreatDSMember")" method="post">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr class="succ_on">
                        <th width="190">推荐人编号：</th>
                        <td width="275">
                             @{string pcode = (string)ViewData["parentCode"];}
                            <input type="text" id="parentCode" name="parentCode" @(string.IsNullOrEmpty(pcode) ? "" : "readOnly=true") value="@(pcode)" class="text" /></td>
                        <td><em class="required">*
                            @if (string.IsNullOrEmpty(pcode)) { 
                                <i>推荐人还未安置</i>
                            }</em></td>
                    </tr>

                    <tr class="succ_on" id="managerCodeTr">
                        <th width="190"><em></em>安置人编号：</th>
                        <td width="275">
                            <input type="text" id="managerCode" name="managerCode" value="" class="text" /></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="succ_on" id="managerAreaTr">
                        <th width="190"><em></em>安置分区：</th>
                        <td width="275">
                            <select id="placeSide" name="placeSide" class="select">
                                <option value="1">&nbsp;A&nbsp;区&nbsp;
                                </option>
                                <option value="2">&nbsp;B&nbsp;区&nbsp;
                                </option>
                            </select>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="succ_on">
                        <th width="190">手机：</th>
                        <td width="275">
                            <input type="text" id="userPhone" name="userPhone" value="" class="text" maxlength="11" /></td>
                        <td></td>
                    </tr>
                    <tr class="succ_on">
                        <th width="190">姓名：</th>
                        <td width="275">
                            <input type="text" id="realName" name="realName" value="" class="text" /></td>
                        <td><em class="required">*</em></td>
                    </tr>
                    <tr class="succ_on">
                        <th width="190">身份证号：</th>
                        <td width="275">
                            <input type="text" id="userCard" name="userCard" value="" class="text" maxlength="18" /></td>
                        <td><em class="required">*</em></td>
                    </tr>
                    <tr>
                        <td align="right">&nbsp;</td>
                         <input type="hidden" value="@ViewData["joinuid"]" class="joinuid" name="joinuid"/>
                        <td><a href="javascript:void(0);" class="regBt redBT " onclick=" return join(this)">立即加入</a></td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </form>
    
</div>
<script>
    function join($this) {
        if (checkInput()) {
            $("form").submit();
        }
    }
    //检查输入
    function checkInput() {
        if ($.trim($("#parentCode").val()) == "") {
            alert("推荐人编号不能为空");
            $("#parentCode").focus();
            return false;
        }
        var patrn = /^0?1[3|4|5|7|8][0-9]\d{8}$/;
        var userPhone = $.trim($("#userPhone").val());
        if (userPhone != "" && !patrn.test(userPhone)) {
            alert('对不起,您输入的手机号码格式错误,请重新输入,谢谢!');
            $("#userPhone").focus();
            return false;
        }
        if ($.trim($("#realName").val()) == "") {
            alert("姓名不能为空");
            $("#realName").focus();
            return false;
        }
        if ($.trim($("#userCard").val()) == "") {
            alert("身份证号码不能为空");
            $("#userCard").focus();
            return false;
        }
        //var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
        var reg = /^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;
        if (reg.test($.trim($("#userCard").val())) === false) {
            alert("身份证输入不合法,请重新输入");
            $("#userCard").focus();
            return false;
        }
        return true;
    }

</script>


