@{
    Layout = "~/mobile/views/shared/_layout.cshtml";
    ViewBag.SubTitle = "我的二维码";
    ViewBag.Title = ViewBag.SubTitle + "-" + WorkContext.MallConfig.SiteTitle + "";
    ViewBag.Mark = 8;
}
<link href="@{@WorkContext.CSSCDN}/mobile/css/main.css" rel="stylesheet" type="text/css">




<div class="myAssetsCon">
    <div class="norecommend">
        <p>
            <h3>赶快邀好友加入吧</h3>
        </p>
        <p>
            <img src="@(ViewData["codeImg"])" alt="" onerror="this.style.display='none'" width="300" height="450"/>
        </p>
        @*<p>
            注册即送100元红包
                        <br />
            遇见更健康的生活方式
        </p>*@
    </div>


</div>



