<?xml version="1.0" encoding="utf-8"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SystemName>custompay</SystemName>
  <FriendlyName>微信收款码支付</FriendlyName>
  <ClassFullName>VMall.PayPlugin.Custompay.PluginService,VMall.PayPlugin.Custompay</ClassFullName>
  <Folder>VMall.PayPlugin.Custompay</Folder>
  <Description>微信支付工具</Description>
  <Type>1</Type>
  <Author>hhwtop</Author>
  <Version>1.2</Version>
  <SupVersion>1.9.000</SupVersion>
  <DisplayOrder>1</DisplayOrder>
  <IsDefault>0</IsDefault>
</PluginInfo>