<?xml version="1.0" encoding="utf-8"?>
<PluginSetInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Partner>2088221887403311</Partner>
  <Key>ohcugj3j6jr21t06c3gxj4wtsn1j2hjv</Key>
  <Seller>zhifubao20160518@163.com</Seller>
  <PayFee>0</PayFee>
  <FreeMoney>100</FreeMoney>
</PluginSetInfo>