@{
    ViewBag.Title = "汇生鲜上线-" + WorkContext.MallConfig.SiteTitle;
    ViewBag.Mark = 2;//产品页为3  其他用2
    ViewBag.IsBox1210 = 1;
}
<style type="text/css">
    .clickactive {
        background: #cccccc;
    }
    img {
        vertical-align: top;
    }

    div {
        vertical-align: top;
    }

   

    .juesai_8_1_content {
        width: 800px;
        text-align: center;
        margin: 0 auto;
    }

    .juesai_item {
        margin: 0 auto;
        padding: 0 0 55px;
    }
</style>


<div class="box" >
    <div> 
        <img src="/images/active.jpg" border="0" width="1000" usemap="#Map2" />
        <map name="Map2" id="Map2">
            <area shape="rect" coords="118,480,266,715" href="/product/2497.html" target="_blank" alt="" id="area1" />
            <area shape="rect" coords="278,480,440,715" href="/product/2542.html" target="_blank" alt="" id="area2" />
            <area shape="rect" coords="445,480,560,715" href="/channel/6.html" target="_blank" alt="" id="area3" />
            <area shape="rect" coords="563,480,720,715" href="/product/2548.html" target="_blank" alt="" id="area4" />
            <area shape="rect" coords="726,480,880,715" href="/product/2547.html" target="_blank" alt="" id="area5" />

            <area shape="rect" coords="118,738,266,973" href="/product/2538.html" target="_blank" alt="" id="area6" />
            <area shape="rect" coords="278,738,440,973" href="/product/2536.html" target="_blank" alt="" id="area7" />

            <area shape="rect" coords="445,738,560,973" href="/channel/6-0-194-0-0-0-0-1-1.html" target="_blank" alt="" id="area8" />
            <area shape="rect" coords="563,738,720,973" href="/product/2537.html" target="_blank" alt="" id="area9" />
            <area shape="rect" coords="726,738,880,973" href="/product/2543.html" target="_blank" alt="" id="area10" />
        </map>
       
    </div>
</div>
</div>
