@model LogsInfo
@section header{

}

@section body{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">异常详情</h4>
    </div>
    <div class="modal-body">
        标题 :<p>@Model.Title</p>
        异常信息：<p>@Model.Message</p>
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">
            关闭
        </button>
    </div>


}
