@section header{
    <title>系统公告</title>
    <link type="text/css" rel="stylesheet" href="/admin_mall/content/css/site.css" />
    <script type="text/javascript" src="/admin_mall/scripts/jquery.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/jquery.validate.unobtrusive.js"></script>

    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link type="text/css" rel="stylesheet" href="/admin_mall/content/css/site.css" />
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/utils.js"></script>
    <style>
       
    </style>
}

@section body{
    <h1 class="rightH1">系统帮助 &gt;&gt; 系统公告
    </h1>

    <div class="box-body">
        <ul class="todo-list ui-sortable">
            <li>
                <!-- drag handle -->
                <span class="handle ui-sortable-handle">
                    <i class="fa fa-ellipsis-v"></i>
                    <i class="fa fa-ellipsis-v"></i>
                </span>
                <!-- todo text -->
                <span class="text"> 2019.05 商城开发立项</span>
                <!-- Emphasis label -->
               
                @*<small class="label label-danger">
                    <i class="fa fa-clock-o"></i>下载</small>*@
                <!-- General tools such as edit or delete-->
                <div class="tools">
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-trash-o"></i>
                </div>
            </li>
            
        </ul>
    </div>

}







